# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# all build folders
/modules/auth/build/
/modules/backtest/build/
/modules/common/build/
/modules/gui/build/
/modules/indicators/build/
/modules/live/build/
/modules/ml/build/
/modules/paper/build/
/modules/build/
/build/
/.gradle/
/.idea/
